//variables
$color-font:#000000;
$color-label:#3b3b3b;
$background-input: #ffffff;
$none-value: none;
$font-family-solid: 'pokemonSolid';
$font-size: 0.9rem;
$box-shadow: #FFCB05;

.info {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    font-family: $font-family-solid;
    & label {
        color:$color-label;
        font-size: $font-size;
    }
    & input { 
        font-family: $font-family-solid;
        text-align: start;
        font-weight: 700;
        padding: 0.5em;
        border: 1px solid transparent;
        background: $background-input;
        outline: $none-value;
        font-size: $font-size;
        border-radius: 0.5em;
        margin: 0.7em 0;
        &::placeholder {
            color: $color-font;
        }
        &:hover {
            box-shadow: 1px 1px 10px 1px $box-shadow;
        }
    }
}