.App {
  text-align: center;
  font-size: 10px;
  font-family: 'pokemonSolid';
}

@font-face {
  font-family: 'pokemonHollow';
  src: url('../../Assets/fonts/Pokemon\ Hollow.ttf') format('truetype');
}

@font-face {
  font-family: 'pokemonSolid';
  src: url('../../Assets/fonts/Pokemon\ Solid.ttf') format('truetype');
}
