//variables


.header {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    font-family: 'pokemonSolid';
    color: white;
    &-title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        &__name {
            font-size: 2.5em;
            font-weight: 700;
            color: red;
            margin-right: 0.5em;
        }
        &__image {
            width: 2.5em;
            height: 2.5em;
            align-self: center;
            padding-bottom: 1.5em;
        }
    }
    &-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row nowrap;
        color: white;
        &__page {
            color: white;
            text-decoration: none;
            font-size: 1.5em;
        }
    }
}
