//variables
$size-image: 2.8em;
$color-links: white;



.header {
    display: grid;
    grid-template-columns: repeat(2,50%);
    align-items: center;
    font-family: 'pokemonSolid';
    &-title {
        display: flex;
        align-items: center;
        &__name {
            font-size: 3em;
            font-weight: 700;
            margin-right: 0.5em;
            color: #FFCB05;
            text-shadow: 4px 2px 0px rgb(39, 74, 126);
        }
        &__image {
            width: $size-image;
            height: $size-image;
            padding-bottom: 1.5em;
        }
    }
    &-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row nowrap;
        &__link {
            color: $color-links;
            text-decoration: none;
            font-size: 1.8em;
            text-shadow: 3px 2px 0px rgb(0, 0, 0);
            margin-right: 0.5em;
        }
    }
}
