//variables
$color-font:#000000;
$background-modal: #3a3636;
$color-title: #ffffff;

.popup {
    display: grid;
    grid-template-rows: repeat(2, 10%) 1fr;
    justify-items: center;
    align-items: flex-end;
    background: $background-modal;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2; 
    & > h2 ,h3 {
        font-size: 3em;
        color:$color-title;
        align-self: center;
    }
    & > h3 {
        font-size: 1.8em;
    }
    & > i {
        font-size: 0.5em;
        color: #8f0505;
        position: absolute;
        right: 6em;
        top: 3em;
        cursor: pointer;
        &:hover {
            color: rgb(184, 77, 77);
            transform: scale(1.5);
        }
    }
} 

.form {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
    height: 470px;
    width: 520px;
    background: linear-gradient(180deg, #fe0000 48%, #000000 50%, #fcfcfc 56%);
    color: $color-font;
    font-size: 1.5em;
    text-align: center;
    border-radius: 50%;
    box-shadow: inset  -50px -10px 40px -15px #000000;
    border: 5px solid #000000;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 130px;
        height: 100px;
        background: #ffffffde;
        top: 1.7em;
        left: 2.9em;
        transform: rotateZ(160deg);
    }
    &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 400px;
        height: 20px;
        bottom: -0.6em;
        right: -6em;
        background: rgba(0, 0, 0, 0.856);
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.856);
        filter: opacity(60%);
        transform: rotateX(299deg);
    }
    & input {
        text-align: center;
        font-weight: 700;
        padding: 0.5em;
        width: 50%;
        border: none;
        background: transparent;
        outline: none;
        &::placeholder {
            color: $color-font;
        }
        &:focus {
            background: rgba(255, 255, 255, 0.301);
        }
    }
    &__button {
        border-radius: 50%;
        border: 10px double #000000;
        text-align: center;
        font-weight: 700;
        color: #000000;
        padding: 10px 20px;
        cursor: pointer;
        background: #ffffff;
        width: 15%;
        height: 15%;
        &:hover {
            background: rgb(197, 197, 197);
        }
    }
    &__close {
        width: 2em;
        height: 2em;
        position: absolute;
        right: 3em;
        top: 3em;
        background: transparent;
        cursor: pointer;
        & i {
            color: red;
            font-size: 1em;
        }
    }
}
