//variables
$color-font:#000000;
$background-form: #ffffffc5;
$size-update-btn: 1.5em;
$background-update-btn: #ffffff;
$background-hover-update-btn: #c2bebe;
$none-value: none;
$font-family-solid: 'pokemonSolid';
$font-family: 'pokemonSolid';

//mixins
@mixin color-pokemon-font {
    color: #FFCB05;
    text-shadow: 3px 2px 0px #274a7e;
}

.authentication {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.801);
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2; 
    font-family: $font-family-solid;
    &__pokeball {
        height: 61.5em;
        width: 60.5em;
        background: linear-gradient(180deg, #fe0000 53%, #000000 57%, #fcfcfc 63%);
        border-radius: 50%;
        box-shadow: inset  -50px -10px 50px -20px #000000;
        border: 5px solid #000000;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            position: absolute;
            border-radius: 50%;
            width: 8em;
            height: 5em;
            background: #ffffffde;
            top: 10em;
            left: 5.5em;
            transform: rotateZ(140deg);
        }
        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            width: 40em;
            height: 1em;
            bottom: -0.5em;
            right: -7em;
            background: rgba(77, 77, 77, 0.856);
            filter: opacity(60%);
            transform: rotateX(299deg);
        }
    
    }
    .form {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        color: $color-font;
        text-align: start;
        background: $background-form;
        border-radius: 0.5em;
        width: 50%;
        padding: 1em;
        & > h3 {
            font-family: 'pokemonSolid';
            @include color-pokemon-font;
            font-size: 1.5rem;
            align-self: center;
        }
        
        &__social {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 2em;
        }
    }
.facebook {
    border: 1px solid #3b5998;
    background: #3b5998;
    color: #ffffff;
    margin-right: 1rem;
    text-align: center;
    border-radius: 0.2em;
    align-self: flex-start;
    font-family: $font-family;
    cursor: pointer;
    font-size: 1.8em;
    padding: 0.3em 1.2em;
    text-shadow: 3px 2px 1px #000000;
    transition: all 0.5s;
    &:hover {
        background: #8ba6f0;
        color: #7e7a7a;
    }
}
} 



